<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">I'm an Undergraduate Student in the Physics Department at IIT Bombay. I'm also an avid cyclist and enjoy playing the piano!</p>
                <a href="#stuff" class="btn btn-default btn-xl">What else?</a>
            </div>
        </div>
    </div>
</section>
