<section id="stuff">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things I Love</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
                    <i class="fa fa-4x fa-subway wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </a>
                    <h3>Travel</h3>
                    <p class="text-muted">From hiking in the Western Ghats, to a wildlife expedition in the Nilgiris, this list is endless...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://mnp-club.github.io/" target="_blank">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    </a>
                    <h3>Abstraction</h3>
                    <p class="text-muted">Searching for the art in mathematics!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--a href="https://www.aero.iitb.ac.in/satlab/index.php" target="_blank"-->
                    <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <!--/a-->
                    <h3>Desserts</h3>
                    <p class="text-muted">It could be a cheesecake, a waffle, or something Indian that is too hard to pronounce</p>                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://github.com/aravindbharathi" target="_blank">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <h3>Writing</h3>
                    <p class="text-muted">From C++ to Python and a lot more in between! Along with a few blogs at MnP</p>
                </div>
            </div>
        </div>
    </div>
</section>
